/*!	\file cuda-z.rc
	\brief Windows resource file.
	\author Andriy Golovnya <andriy.golovnya@gmail.com> http://redscorp.net/
	\url http://cuda-z.sf.net/ http://sf.net/projects/cuda-z/
	\license GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
*/

#include <WinVer.h>
#include "version.h"
#include <winnt.h>

#ifdef DEBUG
#define DBG_FL			VS_FF_DEBUG
#else
#define DBG_FL			0
#endif

#ifndef CZ_VER_BUILD
#define CZ_VER_BUILD		0
#endif//CZ_VER_BUILD

LANGUAGE 9, 1
1 VERSIONINFO
  FILEVERSION CZ_VER_MAJOR, CZ_VER_MINOR, CZ_VER_BUILD, 0
  PRODUCTVERSION CZ_VER_MAJOR, CZ_VER_MINOR, CZ_VER_BUILD, 0
  FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
  FILEFLAGS DBG_FL
  FILEOS VOS_NT_WINDOWS32
  FILETYPE VFT_APP
  FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", CZ_ORG_NAME
            VALUE "FileDescription", CZ_NAME_LONG
            VALUE "FileVersion", CZ_VERSION
            VALUE "InternalName", CZ_NAME_SHORT
            VALUE "LegalCopyright", CZ_COPY_INFO
            VALUE "OriginalFilename", CZ_NAME_SHORT ".exe"
            VALUE "ProductName", CZ_NAME_SHORT
            VALUE "ProductVersion", CZ_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

IDI_ICON1 ICON DISCARDABLE "res/img/icon.ico"
